@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilizando a barra de rolagem */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #1e293b #d1d5db; /* Firefox */
}

/* Estilos para navegadores WebKit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d1d5db;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 10px;
  border: 3px solid #d1d5db;
}

/* Adicionando efeito ao passar o mouse sobre a barra de rolagem */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #1e293b;
}
